.heading
	margin-top: 30px
nav 
	margin-top: 8px
	display: flex
	justify-content: flex-end
	a 
		margin: 0 5px
		font-size: 1.3rem
		font-weight: 600
		.icon
			margin: 0 3px 0 0
	a.google-login
		background-color: #ea4335 !important
		color: #fff !important
