<div class="container">
	<nav *ngIf="currentUser === null">
		<a class="button is-info" (click)="fbLogin()"><span class="icon"><i class="fa fa-facebook"></i></span> Sign In With Facebook</a>
		<a class="button google-login" (click)="googleLogin()"><span class="icon"><i class="fa fa-google"></i></span> Sign In With Google</a>
	</nav>
	<nav *ngIf="currentUser != null">
		<p>Hello {{currentUser.auth.displayName}} <a (click)="logOut()">Log Out</a> | <a routerLink="favorites">My Favorites</a></p>
	</nav>
</div>
<div class="container">
	<div class="columns  is-11 is-offset-1 heading">
		<a routerLink="" class="tac"><h1 class="title is-1"><i class="fa fa-github"></i> GITSEARCH</h1></a>
	</div>

	<div class="columns">
		<div class="column is-full">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>