<!-- Search form -->
<form>
	<input type="text" placeholder="Enter github username" [(ngModel)]="username" name="username" class="input is-medium" (keyup.enter)="searchUsers()">
</form>
<br>
<!-- /Profile info -->
<section *ngIf="user" class="profile-info">
	<div class="box personal-info">
		<article class="media">
		    <div class="media-left">
		      <figure class="image is-128x128">
		        <img src="{{user.avatar_url}}" alt="Image">
		      </figure>
		    </div>
		    <div class="media-content">
		      <div class="content">
		        <p class="user-info">
		          <span class="ui-block"><strong>{{user.name || user.login}}</strong> <small *ngIf="user.email != null">{{user.email}}</small> <span class="tag is-success" *ngIf="user.hireable != null">{{(user.hireable) ? 'Hireable' : 'Not hireable'}}</span></span>
		          <span class="ui-block"><strong *ngIf="user.location != null">Location: </strong> <span>{{user.location}}</span></span>
		          <span class="ui-block"><strong>Member since: </strong> <span>{{user.created_at | date}}</span></span>
	          	  <span class="ui-block"><strong *ngIf="user.bio != null">Bio: </strong>{{user.bio}}</span>

		          
		        </p>
		      </div>
		      <nav class="level">
		        <div class="level-left">
		          <a class="level-item">
		            <span class="tag is-primary">{{user.public_repos}} repos</span>
		            <span class="tag is-primary">{{user.public_gists}} gists</span>
		            <span class="tag is-info">{{user.followers}} followers</span>
		            <span class="tag is-info">{{user.following}} following</span>
		          </a>
		        </div>
		        <div class="level-right" *ngIf="currentUser != null">
		        	<a class="level-item" (click)="addToFavorites(user.name, user.id, user.login, user.html_url, user.avatar_url)">
						Bookmark user <span class="icon"><i class="fa fa-bookmark"></i></span>
		        	</a>
		        </div>
		      </nav>
		    </div>
  		</article>
	</div><!-- /profile info -->

	<div class="box repos">
		<h3 class="title is-3 tac">Repositories</h3>
	
		<table class="table is-bordered is-striped is-narrow">
		  <thead>
		    <tr>
		      <th>Repository Name</th>
		      <th>Created</th>
		      <th>Updated</th>
		      <th>Watchers / Forks</th>
		      <th>Category</th>
		    </tr>
		  </thead>

		  <tbody>
		    <tr *ngFor="let repo of repos">
		      <td>
		      	<a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
		      </td>
		      <td>
		      	{{repo.created_at | date:'medium'}}
		      </td>
		      <td>
		      	{{repo.updated_at | date:'medium'}}
		      </td>
		      <td>
		      	{{repo.watchers}} / {{repo.forks}}
		      </td>
		      <td>
		      	<span class="tag is-info" *ngIf="repo.language != null">{{repo.language}}</span>
		      	<span class="tag is-danger" *ngIf="repo.language === null">Not provided</span>
		      </td>
		    </tr>
		  </tbody>
		</table>


	</div>
</section>

