/* You can add global styles to this file, and also import other style files */
*
	box-sizing: border-box
html
	font-size: 62.5%
body
	font-family: 'Raleway', sans-serif
	font-size: 1.4rem
	margin: 0
	padding: 0

.container
	max-width: 1200px
	width: 98%
	margin: 0 auto

.tac 
	text-align: center !important
	margin: 10px auto

.loader
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  span
    background-color: #72d0eb
    display: inline-block
    width: 10px
    height: 15px
    border-radius: 50px
    transform: scale(1)
    @for $i from 1 through 3
      &:nth-child(#{$i})
        animation: 
          name: load
          duration: 200ms * $i
          delay: (200ms * $i) - 200
          timing-function: ease-in-out
          fill-mode: infinite
    
@keyframes load
  0%
    height: 15px
  50%
    height: 25px
  100%
    height: 15px