<a routerLink="/"><span class="icon"><i class="fa fa-long-arrow-left"></i></span> Return home</a>
<h3 class="tac title is-3">Your favorite users</h3>
<div class="container">
	<div class="columns users-fav">
		<div *ngFor="let user of users | async" class="column is-2 ">
			<div class="box user-fav">
				<figure class="image is-128x128">
			        <img src="{{user.thumb}}" alt="Image">
			    </figure>
			    <a href="{{user.url}}" target="_blank">{{user.name}}</a>
			    <p>-</p>
			    <a class="button is-danger" (click)="deleteUser(user.login)">
			    	<span class="icon"><i class="fa fa-trash"></i></span>
			    </a>
		    </div>
		</div>
	</div>
</div>